@charset "UTF-8";


main {
    display: flex;
    min-height: 100vh;

    flex-flow: column;
    align-items: center;
}

.os_coxas {
    display: flex;
    align-items: center;

    li {
        display: block;
        border: none;
    }

    div {
        text-align: center;
    }

    .fotos {
        width: 100x;
        height: 200px;
    }

    li {
        border: none;
    }

    li:hover {
        box-shadow: none;
    }

    a {
        color: white;
        background-color: #002333;
        padding: 10px;
        border-radius: 5px; 
    }

    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    max-width: 400px;
    max-height: 450px;
}